<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Form sản phẩm - LSHOE</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div th:replace="~{fragments :: header}"></div>
<section class="form-box"><h1>Thông tin sản phẩm</h1>
    <form th:action="@{/admin/products/save}" method="post" th:object="${product}"><input type="hidden"
                                                                                          th:field="*{id}"><label>Tên
        giày</label><input th:field="*{name}" required><label>Hãng</label><input th:field="*{brand}" required><label>Danh
        mục</label><select name="categoryId">
        <option th:each="c:${categories}" th:value="${c.id}"
                th:selected="${product.category != null and product.category.id == c.id}" th:text="${c.name}"></option>
    </select><label>Mô tả</label><textarea th:field="*{description}"></textarea><label>Giá bán</label><input
            th:field="*{price}" type="number" required><label>Giá gốc</label><input th:field="*{oldPrice}"
                                                                                    type="number"><label>Link
        ảnh</label><input th:field="*{imageUrl}"><label>Kích cỡ</label><input th:field="*{sizeText}"><label>Tồn
        kho</label><input th:field="*{stock}" type="number">
        <button class="btn">Lưu sản phẩm</button>
    </form>
</section>
<div th:replace="~{fragments :: footer}"></div>
</body>
</html>
