<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Quản lý sản phẩm - LSHOE</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div th:replace="~{fragments :: header}"></div>
<section class="section">
    <div class="title-row"><h1>Quản lý sản phẩm</h1><a class="btn" th:href="@{/admin/products/new}">Thêm sản phẩm</a>
    </div>
    <table>
        <tr>
            <th>ID</th>
            <th>Tên giày</th>
            <th>Hãng</th>
            <th>Giá</th>
            <th>Tồn kho</th>
            <th>Thao tác</th>
        </tr>
        <tr th:each="p:${products}">
            <td th:text="${p.id}"></td>
            <td th:text="${p.name}"></td>
            <td th:text="${p.brand}"></td>
            <td th:text="${#numbers.formatDecimal(p.price,0,'COMMA',0,'POINT')} + 'đ'"></td>
            <td th:text="${p.stock}"></td>
            <td><a th:href="@{/admin/products/edit/{id}(id=${p.id})}">Sửa</a>
                <form class="inline" th:action="@{/admin/products/delete/{id}(id=${p.id})}" method="post">
                    <button>Xóa</button>
                </form>
            </td>
        </tr>
    </table>
</section>
<div th:replace="~{fragments :: footer}"></div>
</body>
</html>
